:root {
  /* Colours */
  --color-text: white;
  --color-primary: rgb(27, 71, 192);
  --color-secondary: rgb(102, 41, 186);
  --color-dark: #000000;
  --color-bg: rgb(0, 0, 0);

  /* Fonts */
  --font-roboto: "Roboto";
}
